body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-size: 14px;
  padding: 20px;
}

.todo-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  max-width: 400px;
  width: 80%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 14px;
}

button {
  padding: 5px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}


li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: black;
  color: white;
  min-width: 200px;
  max-width: 400px;
  width: 100%;
  font-size: 14px;
  border-radius: 20px;
}

.completed span {
  text-decoration: line-through;
  color: #888;
}

.task-actions {
  display: flex;
  gap: 10px;
}

button.delete-btn {
  background-color: #dc3545;
}

button.delete-btn:hover {
  background-color: #a71d2a;
}

button.complete-btn {
  background-color: #28a745;
}

button.complete-btn:hover {
  background-color: #19692c;
}

li.low {
  border: 1px solid green;
}

li.medium {
  border: 1px solid orange;
}

li.high {
  border: 1px solid red;
}

select#priority-select {
  
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  appearance: none; 
  cursor: pointer;
}

select#priority-select:hover {
  border-color: #007BFF;
}

input:hover{
  border-color: #007BFF;
}



